h2{
  color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);

  border: 10px dotted black;
  padding: 5px;
  background: lightblue;
  background-clip: content-box;
  text-align: center;
}